{% include "./partials/htmlhead.njk" %}
{% include "./partials/header.njk" %}
<main>
{% block content %}

  {{ content | safe }}

  {% include "./partials/pagelist.njk" %}

{% endblock %}
</main>

{% include "./partials/htmlfoot.njk" %}
