{% extends "layout.njk" %}

{% block content %}

  <article>
  {{ content | safe }}

    <ul class="keep-reading">
    {% if sourceUrl %}<li><a href="{{ sourceUrl }}">ler original em {{ sourceTitle }} (em {{ sourceLanguageText }})</a></li>{% endif %}
    </ul>
  </article>
  <nav class="postnav">
    <ul>

  {% set previousPost = collections.post | getPreviousCollectionItem(page) %}
  {% if previousPost %}<li><a href="{{ previousPost.url }}">Ler ítem anterior:<br/>{{ previousPost.data.title }}</a></li>{% endif %}

{% endblock %}
    </ul>
</nav>
