
html {
    box-sizing: border-box;
    font-size: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
    color: #444;
    font-family: "Roboto Slab", "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    margin: 0 auto;
    width: 100vw;
}

nav {
    background-color: #000;
    min-height: 10vh;
    margin: 0 auto;
    width: 100vw;
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1200px;
    min-height: 10vh;
    padding: 0;
}

nav li {
    align-items: center;
    color: #fc0;
    display: flex;
    flex-basis: 33%;
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.125rem;
    font-weight: 600;
    min-height: 10vh;
    justify-content:center;
    text-align: center;
    list-style-type: none;
    list-style-position: outside;
}
nav ul li:hover,
nav ul li a:focus {
    background-color: #555;
}
nav ul li a {
    color: #fd0;
}
nav li:hover a,
nav ul li a:focus {
    color: #fff;
}
nav ul li.active,
nav ul li.active a {
    background-color: #fc0;
    color: #000;
}
.pagenav,
.postnav {
    background-color: #444;
    padding: 1rem;
}
.pagenav li,
.postnav li{
    flex-basis: 100%;
    font-family: "Space Grotesk", "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.2;
}

header>div {
    background-color: #fc0;
    min-height: 20vh;
    padding: 5%;
    width: 100vw;
}

header h1 {
    margin: 0 auto;
    max-width: 1200px;
}

header .tagline,
header .meta {
    margin: 0 auto;
    max-width: 1200px;
}


article {
    max-width: 1200px;
    margin: 0 auto;
    padding: 5%;
    width: 100vw;
}

article:nth-of-type(even){
    background-color: #222;
    color: #ddd;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: "Space Grotesk", "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin: 3rem 0 1.38rem;
    font-weight: 600;
    line-height: 1.3;
}

article:nth-of-type(even) a,
article:nth-of-type(even) a,
article:nth-of-type(even) a,
article:nth-of-type(even) a,
article:nth-of-type(even) a,
article:nth-of-type(even) a{
    color: #fff;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    text-decoration: none;
}

h1 {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.802rem;
    margin: 0;
}

h2 {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.602rem;
}

h3 {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-size: 1.424rem;
}

h4 {
    font-size: 1.266rem;
}

h5 {
    font-size: 1.125rem;
}

h6 {
    font-weight: 600;
}

p {
    line-height: 1.6;
    margin-bottom: 1.6rem;
}

small,
.text_small {
    font-size: 0.75rem;
}

/* .tagline {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
} */

/* .pagelist {
    padding: 1rem 0;
} */

 .article-title {
    margin: 0;
}

.meta {
    font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-style: italic;
    margin: 0;
    margin-bottom: 1.6rem;
}

.keep-reading {
    /* margin-bottom: 1rem; */
    list-style-type: none;
    list-style-position: outside;
    padding: 0;
}

.keep-reading li {
    background-color: #fc0;
    border-left: 1rem solid #f60;
    padding: 0.5rem;
    margin-bottom: 1rem;
}


.keep-reading a,
article:nth-of-type(even) .keep-reading a {
    color: #000;
    text-decoration: none;
}

@media screen and (min-width: 576px) {
    nav {
    min-height: 5vh;
}
nav ul {
    min-height: 5vh;
}

nav li {
    min-height: 5vh;
}
    header>div {
        min-height: 10vh;
    }
    /* h1 {
        font-size: 2.488rem;
        margin-top: 0;
    }

    h2 {
        font-size: 2.074rem;
    }

    h3 {
        font-size: 1.728rem;
    }

    h4 {
        font-size: 1.44rem;
    }

    h5 {
        font-size: 1.2rem;
    } */
}
/*
@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
}

@media screen and (min-width: 1200px) {

} */
