<footer>
  <nav class="general-navigation">
    {% navlist collections.all | eleventyNavigation, page, 2 %}
  </nav>
</footer>
<script src="/assets/js/canarytoken-as-stats.js"></script>
</body>

</html>

