<footer>
  <nav class="general-navigation">
    {% navlist collections.all | eleventyNavigation, page, 2 %}
  </nav>
</footer>
<script src="../../assets/js/canarytoke-as-stat.js"></script>
</body>

</html>

