{% if pagelist %}
<section class="pagelist">

  {%- for post in pagelist -%}
  <article>

    <h2 class="article-title"><a href="{{ post.url }}">{{ post.data.title | escape}}</a></h2>

    {% if post.data.date %}<p class="meta"><time datetime="{{ post.data.date | dateymd }}">{{ post.data.date | datefriendly }}</time></p>{% endif %}

    <p>{{ post.data.description }}</p>
    <ul class="keep-reading">
    <li><a href="{{ post.url }}">leia mais</a></li>
    {% if post.data.sourceUrl %}<li class="keep-reading-original"><a href="{{ post.data.sourceUrl }}">leia o original em {{ post.data.sourceTitle }} (em {{ post.data.sourceLanguageText }})</a></li>{% endif %}
    </ul>

  </article>
  {%- endfor -%}

</section>
{% endif %}
{% if pagination.href.previous or pagination.href.next %}
<nav class="pagenav">
    <ul>

    {% if pagination.href.next %}
        <li><a href="{{ pagination.href.next }}">&laquo; mais antigos</a></li>
    {% endif %}

    {% if pagination.href.previous %}
        <li><a href="{{ pagination.href.previous }}">mais recentes
&raquo;
</a></li>
    {% endif %}
    </ul>
</nav>
{% endif %}
